<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <style>
    .square {
      display: none;
      height: 20px;
      width: 20px;
      margin-left: 10px ;
    }

    .green {
      background-color: green;
    }

    .red {
      background-color: red;
    }

    .pair {
      display: flex;

    }
  </style>
</head>
<body>

  <div class="contact">
    <div class="names">
      <div class="pair">
        
        <input type="text" placeholder="name" id="fname" name="fname" v-model="nameT" @change = "isString(nameT)">
        <div class="square green" id="name-check" v-if="isName"></div>
        <div class="square red" id="name-check" v-else></div>

      </div>
      <input type="text" placeholder="last name" id="lname" name="lname" v-model="lastNameT">
    </div>
    <input type="text" placeholder="address" id="address" name="address" v-model="addressT">
    <input type="text" placeholder="phone" id="phone" name="phone" v-model="tlfT">
  
    <button @click="print(); printConsole()"> Submit </button>

    <p> {{name}} {{lastName}} {{tlf}}</p>
    <p> {{address}}</p>
  </div>


  <script>
  
    var form = new  Vue({
      el: `.contact`,
      data : {
        name: "",
        lastName: "",
        tlf: "",
        address: "",
        nameT: "",
        lastNameT: "",
        tlfT: "",
        addressT: "",
        isName: true,

      },
      methods : {
        print : function() {
          this.name =   this.nameT;
          this.lastName = this.lastNameT;
          this.address = this.addressT;
          this.tlf = `(${this.tlfT})`;
        },

        printConsole: function() {
          console.log(this.nameT);
          console.log(this.lastNameT);
          console.log(this.addressT);
          console.log(this.tlfT);
        },

        isString: function(stringToCheck){
         
          if (this.nameT == "")document.querySelector(".square").style.display = "none";
          else  document.querySelector(".square").style.display = "inline-block";
          this.isName = true;
          stringToCheck = stringToCheck.toLowerCase().split("");
          stringToCheck.forEach(element => {
            if (!(/^[a-zA-Z]*$/.test(element))) {
              this.isName = false;
              return
            }
          });
    }
      
      }
    })
   

  </script>
</body>
</html>